body{
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* min-height: 100vh;       ocupa a tela inteira */

}

input {
    border-radius: 500px;
    height: 25px;
    background-color: rgb(196, 188, 188);
}

label{  
    padding: 10px;
    font-size: 20px;
}

.menu{
    text-align: center;
    font-size: 25px;
    font-style: bold;
    margin-bottom: 50px;
    border-radius: 20px;
    width: 500px;
    height: 70px;
    cursor: pointer;
}

.card{
    width: 500px;
    padding: 20px;
    
    border-style:outset;
    border-radius: 50px;
    background-color: lightgray;

    box-shadow: 5px 5px 20px 0px;
}

.frm {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.frm label {
    white-space: nowrap; /* impede quebra de frm no texto */
    margin-right: 8px;
}

.frm input,
.frm select {
    flex: 1;
    background-color: rgb(196, 188, 188);
}

.btn{
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.btn:hover{

    background-color: rgb(110, 136, 207);
    box-shadow: 5px 3px 5px 0px;
    font-weight: bold;
}
